{% extends "base.html" %}
{% set title = "我的最愛" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-5 text-center">{{ title }}</h1>
    {% if product_infos|length == 0 %}
        <p class="text-center text-muted fw-bold mt-5">
            尚未加入任何我的最愛商品
        </p>
    {% endif %}
    <div class="row row-cols-1 row-cols-sm-3 g-2 results">
        {% include "products/productList.html" %}
    </div>
</div>

{% include "shared/favoriteModals.html" %}
{% endblock %}

{% block scripts %}
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/favorite.js') }}"
></script>
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/myFavorites.js') }}"
></script>
{% endblock %}