{% if product_infos|length == 0 %}
<label class="text-center text-muted fw-bold">查無商品資料</label>
{% endif %} 
{% for product_info in product_infos %}
<div class="col">
    <div class="card">
        <img
            class="card-img-top img-thumbnail"
            src="{{ product_info.product.image_url }}"
            alt="Card image cap"
        />
        <div class="card-body">
            <h5 class="card-title mt-3">{{ product_info.product.name }}</h5>
            <div class="mb-3 card-info">
                <div class="brand">品牌：{{ product_info.product.brand }}</div>
                <div class="price">價格：{{ product_info.product.price }}</div>
                <div class="quantity">
                    剩餘數量：{{ product_info.product.status.quantity }}
                </div>
            </div>
            <button type="button" class="btn btn-primary">購買</button>
            {% if product_info.is_favorite %}
            <button type="button" class="btn btn-danger">移除最愛</button>
            {% else %}
            <button type="button" class="btn btn-danger">加入最愛</button>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
<label class="total" style="display: none">{{ total }}</label>
