<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link
            href="{{ url_for('static', filename='lib/css/bootstrap.min.css') }}"
            rel="stylesheet"
        />
        {% block head %}{% endblock %}
    </head>
    <body>
        <main>{% block content %}{% endblock %}</main>

        <script
            type="text/javascript"
            src="{{ url_for('static', filename='lib/js/jquery-3.6.0.min.js') }}"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='lib/js/bootstrap.bundle.min.js') }}"
        ></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
