<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
</head>
<body>
    <h1>只是為了方便跳轉其他頁面，複製以下文字放進input點擊Submit</h1>
    <h3>search_page和search_result還在嘗試中</h3>
    <h5>search_page</h5>
    <h5>search_result</h5>
    <h5>favorite</h5>
    <h5>stock</h5>
    <h5>record</h5>
    <form method='post'> 
        <p>
        <input type='text' name='website' />
    </p>
        <p>
        <button type='submit'>Submit</button>
    </p>    
    </form>
</body>
</html>