<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Bootstrap CSS -->
        <link
            href="{{ url_for('static', filename='lib/css/bootstrap.min.css') }}"
            rel="stylesheet"
        />
        <title>{{title}}</title>
    </head>
    <body>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='lib/js/jquery-3.6.0.min.js') }}"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='lib/js/bootstrap.bundle.min.js') }}"
        ></script>
        <main class="container">
            <h1 class="mt-5 text-center">{{ title }}</h1>
            {% if products|length == 0 %}
            <div class="text-center text-muted fw-bold mt-5">
                尚未加入任何我的最愛商品
            </div>
            {% endif %}
            <div class="row row-cols-1 row-cols-sm-3 g-2 results">
                {% for product in products %}
                <div class="col">
                    <div class="card">
                        <img
                            class="card-img-top img-thumbnail"
                            src="{{ product.image_url }}"
                            alt="Card image cap"
                        />
                        <div class="card-body">
                            <h5 class="card-title mt-3">{{ product.name }}</h5>
                            <div class="mb-3 card-info">
                                <div class="brand">
                                    品牌：{{ product.brand }}
                                </div>
                                <div class="price">
                                    價格：{{ product.price }}
                                </div>
                                <div class="quantity">
                                    剩餘數量：{{ product.status.quantity }}
                                </div>
                            </div>
                            <button
                                type="button"
                                class="btn btn-primary purchaseButton"
                                data-product-id="{{ product.id }}"
                            >
                                購買
                            </button>

                            <button
                                type="button"
                                class="btn btn-danger deleteFavoriteButton"
                                data-product-id="{{ product.id }}"
                            >
                                移除最愛
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>

        <label id="userId" style="display: none">{{ user_id }}</label>
        <div id="deleteFavoriteSuccessHint" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">我的最愛</h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <p>移除成功</p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-dismiss="modal"
                        >
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script
            type="text/javascript"
            src="{{ url_for('static', filename='js/favorite.js') }}"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='js/myFavorites.js') }}"
        ></script>
    </body>
</html>
