{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container mt-3 mb-5">
    <h1 class="title">{{ title }}</h1>
    <div class="text-center my-3">
        <img
            class="img-thumbnail"
            src="{{ product.image_url }}"
            width="450px"
            alt="Product image"
        />
    </div>
    <label hidden id="product_url">{{ url_for("resources.products.delete_product", product_id=product.id) }}</label>
    <form id="product_form" action="{{ action }}" method="{{ method }}" novalidate>
        <input hidden name="csrf_token" value="{{ csrf_token }}">
        <div class="row justify-content-md-center mb-3">
            <label for="name" class="col-sm-3 col-form-label">名稱：</label>
            <div class="col">
                <input class="{{ 'form-control-plaintext' if not is_seller else 'form-control' }}" type="text" id="name" name="name" value="{{ product.name }}" {{ 'readonly' if not is_seller else 'required' }}>
                <div class="invalid-feedback">
                    商品名稱不可為空
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center mb-3">
            <label for="brand" class="col-sm-3 col-form-label">品牌：</label>
            <div class="col">
                <input class="{{ 'form-control-plaintext' if not is_seller else 'form-control' }}" type="text" id="brand" name="brand" value="{{ product.brand }}" {{ 'readonly' if not is_seller else 'required' }}>
                <div class="invalid-feedback">
                    品牌名稱不可為空
                </div>
            </div>
        </div>
        <!-- <div class="row justify-content-md-center mb-3">
            <label for="description" class="col-sm-3 col-form-label">說明：</label>
            <div class="col">
                <textarea rows="3" class="{{ 'form-control-plaintext' if not is_seller else 'form-control' }}" type="text" name="description" {{ 'readonly' if not is_seller else '' }}>{{ product.description }}</textarea>
            </div>
        </div> -->
        <div class="row justify-content-md-center mb-3">
            <label for="price" class="col-sm-3 col-form-label">商店價格：</label>
            <div class="col">
                <input class="{{ 'form-control-plaintext' if not is_seller else 'form-control' }}" type="number" id="price" name="price" value="{{ product.price }}" min="0" {{ 'readonly' if not is_seller else 'required' }}>
            </div>
            <div class="invalid-feedback">
                商品價格不可小於 0 且不可為空
            </div>
        </div>
        <div class="row justify-content-md-center mb-3">
            <label for="quantity" class="col-sm-3 col-form-label">剩餘數量：</label>
            <div class="col">
                {% if is_seller %}
                    <input class="form-control" type="number" id="quantity" name="quantity" value="{{ product.status.quantity }}" min="0" required>
                    <div class="invalid-feedback">
                        剩餘數量不可小於 0 且不可為空
                    </div>
                {% else %}
                    {% if product.status.quantity > 0 %}
                        <label class="align-middle fw-bold text-success">{{ product.status.quantity }}</label>
                    {% else %}
                        <label class="align-middle fw-bold text-danger">缺貨中</label>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if not is_seller and product.status.quantity > 0 %}
            <div class="row justify-content-md-center mb-3">
                <label for="quantity" class="col-sm-3 col-form-label">購買數量：</label>
                <div class="col">
                    <input class="form-control" type="number" id="quantity" name="quantity" min="1" value="1" required>
                    <div class="invalid-feedback">
                        購買數量不可小於 1 且不可為空
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_seller %}
            <div class="row justify-content-md-center mb-3">
                <label for="is_available" class="col-sm-3 col-form-label">商品狀態：</label>
                <div class="col">
                    <select class="form-select" id="is_available" name="is_available" aria-label="is product available" required>
                        <option {{ 'selected' if product.status.is_available else '' }} value="true">上架中</option>
                        <option {{ 'selected' if not product.status.is_available else '' }} value="false">下架中</option>
                    </select>
                </div>
            </div>
        {% endif %}

        <div class="row justify-content-md-center">
            {% if is_seller %}
                <div class="col text-center">
                    <button class="btn btn-primary" type="submit">{{ '新增' if new_product else '更新' }}</button>
                </div>
            {% elif product.status.quantity > 0 %}
                <div class="col text-center">
                    <button class="btn btn-primary" type="submit">購買</button>
                </div>
            {% endif %}
            {% if is_seller %}
                {% if new_product %}
                    <div class="col text-center">
                        <a role="button" class="btn btn-danger" href="{{ url_for('resources.products.search_page') }}">取消</a>
                    </div>
                {% else %}
                    <div class="col text-center">
                        <label hidden id="returnUrl">{{ url_for(return_endpoint) }}</label>
                        <button id="deleteButton" class="btn btn-danger" type="button">刪除</button>
                    </div>
                {% endif %}
            {% endif %}
            {% if not new_product %}
                <div class="col text-center">
                    <a role="button" class="btn btn-secondary" href="{{ url_for(return_endpoint) }}">返回</a>
                </div>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
    <script
        type="text/javascript"
        src="{{ url_for('static', filename='js/product.js') }}"
    ></script>
{% endblock %}