{% extends "base.html" %}
{% set title = "商品搜尋" if is_customer else "商品管理" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-5 text-center">{{ title }}</h1>
    <form id="searchForm" class="input-group mt-3 mb-3" action="javascript:void(0);">
        <input
            id="searchTextbox"
            name="keyword"
            type="text"
            class="form-control"
            placeholder="請輸入搜尋關鍵字"
            aria-label="search_textbox"
        />
        <button
            id="searchButton"
            class="btn btn-outline-secondary"
            type="submit"
        >
            搜尋商品
        </button>
    </form>

    <div id="searchResult" style="display: none">
        <h4>商品列表</h4>
        <p id="resultsNotFoundMessage" class="text-center text-muted fw-bold" style="display: none">查無商品資料</p>
        <div class="row row-cols-1 row-cols-sm-3 g-2 results"></div>
    </div>
</div>
<button
    id="scrollToTopButton"
    title="scroll to top"
    class="btn btn-secondary position-fixed bottom-0 start-0 mb-3 ms-3 fs-2"
    style="display: none"
>
    🠕
</button>

{% include "shared/favoriteModals.html" %}
{% endblock %}

{% block scripts %}
    <script
        type="text/javascript"
        src="{{ url_for('static', filename='js/favorite.js') }}"
    ></script>
    <script
        type="text/javascript"
        src="{{ url_for('static', filename='js/search.js') }}"
    ></script>
{% endblock %}
